body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1618214839021-3fbe98a597bc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cm9jayUyMHBhcGVyJTIwc2Npc3NvcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1200&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 100vh;
}

h1 {
  font-family: "MedievalSharp", cursive;
}

button {
  background-color: #ffbf00;
  color: #000000;
  border-radius: 4px;
  border: 2px solid #ffbf00;
  padding: 10px 40px;
  cursor: pointer;
  font-size: 25px;
  min-width: 120px;
}

button:hover {
  background-color: #000000;
  color: #ffbf00;
}

button:focus {
  background-color: #000000;
  color: #ffbf00;
}

span {
  text-transform: uppercase;
  font-weight: bold;
}

strong {
  color: #ffbf00;
}

.content {
  text-align: center;
  top: 50%;
  left: 50%;
  margin-top: 50px;
}

#result {
  font-weight: bold;
  color: #ffbf00;
  text-transform: uppercase;
}

.gameIcon {
  font-size: 75px;
}

.scores {
  justify-content: center;
  display: flex;
}

.scores {
  padding: 5px;
  border: 1px solid #fff;
}

.scores div {
  margin: 20px;
}

@media only screen and (max-width: 380px) {
  .gameOptions button {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 20px;
  }

  .gameIcon {
    font-size: 50px;
  }

  .scores h2 {
    font-size: 16px;
  }

  .content {
    margin-top: 10px;
  }

  .scores div {
    margin: 10px;
  }
}
